.app-cardbox {
  border: none;
  border-radius: 10px;
  box-shadow: 4px 5px 12px 1px rgba(0, 0, 0, 0.35);
  align-items: center;
  padding: 7px;
  margin: 10x;
  min-width: 295px;
  min-height: 210px;
  position: relative;
}

.shareNodes {
  height: 25px;
  width: 25px;
  color: #f17777;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.ellipsis {
  padding-right: 5px;
  height: 20px;
  width: 20px;
  color: #f17777;
  position: absolute;
  right: 10px;
  top: 30px;
}

.app-type-button {
  margin-left: 40px;
}
